---
import { Image } from "astro:assets";
---

<section
  class="bg-emerald-100 py-8 flex items-center justify-center shadow-2xl px-6"
>
  <div
    class="flex items-center md:justify-between overflow-x-auto gap-x-6 max-w-5xl mx-auto w-full *:w-16"
  >
    <Image
      src="/ibm.webp"
      alt="IBM"
      loading={"lazy"}
      draggable="false"
      width={64}
      height={64}
      format="webp"
    />
    <Image
      src="/medecins-sans-frontieres.webp"
      alt="Medecins sans frontiers"
      loading={"lazy"}
      draggable="false"
      width={64}
      height={64}
      format="webp"
    />
    <Image
      src="/future-work.webp"
      alt="Future at Work"
      loading={"lazy"}
      draggable="false"
      width={64}
      height={64}
      format="webp"
    />
    <Image
      src="/fiap.svg"
      alt="FIAP"
      loading={"lazy"}
      draggable="false"
      width={64}
      height={64}
      format="webp"
    />
    <Image
      src="/sao-paulo.webp"
      alt="Sao Paulo"
      loading={"lazy"}
      draggable="false"
      width={64}
      height={64}
      format="webp"
    />
    <Image
      src="/santo-andre.webp"
      alt="Santo Andre"
      loading={"lazy"}
      draggable="false"
      width={64}
      height={64}
      format="webp"
    />
    <Image
      src="/inpe.webp"
      alt="INPE"
      loading={"lazy"}
      draggable="false"
      width={64}
      height={64}
      format="webp"
    />
  </div>
</section>
