---
const { text } = Astro.props;
---

<h1
  style="font-family: 'Major Mono Display', monospace;"
  class="scroll-m-20 text-center text-2xl md:text-6xl font-extrabold tracking-tight text-balance font-display-font"
>
  {text}
</h1>
